.root {
  display: flex;
  padding: 10px 0;
}

.star {
  fill: currentColor;
  color: rgb(93, 93, 93);
  width: 20px;
  height: 20px;
}

.star + .star {
  margin-left: 5px;
}

.starGold {
  color: orange;
}
