.root {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid olive;
}

.products {
  margin-bottom: 10px;
}

.product:not(:last-child) {
  margin-bottom: 10px;
}

.sum {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}
